html {
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: #3b4252;
}

h1, h2, h3, h4, h5, h6 {
  color: #eceff4;
  margin: 20px 0px 10px 0px;
}

blockquote {
  color: #eceff4;
}

.aboutImage {
  box-shadow: 10px 10px #4c566a;
}
