html {
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: #3b4252;
}

h1, h2, h3, h4, h5, h6 {
  color: #eceff4;
  margin: 20px 0px 10px 0px;
}

blockquote {
  color: #eceff4;
}

.aboutImage {
  box-shadow: 10px 10px #4c566a;
  transition: 0.6s;
}

.toolTip {
  color: #4c566a !important;
  background-color: #eceff4 !important;
  font-size: 18px !important;
  &.place-top {
    &:after {
      border-top-color: #4c566a !important;
      border-top-style: solid !important;
      border-top-width: 6px !important;
    }
  }
  pointer-events: auto !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  display: block; 
  content: " "; 
  margin-top: -300px; 
  height: 300px; 
  visibility: hidden; 
  pointer-events: none;
}
